$primary-0: #ffffff;
$primary-500: #949497;
$primary-700: #626264;
$primary-900: #1a1a1c;

$white-1: #ff9595;
$white-2: #f8f8f8;

$black-1: #3b2b2b;

$grey-1: #0000ff;
$grey-2: #b4b4b7;
$grey-3: #949497;

$blue-1: #1274cf;

$primary: #28ac8b;
$secondary: #26bb76;
$success: rgb(44, 219, 44);
$error: rgb(236, 9, 9);
$default: #949497;
$warning: rgb(240, 72, 72);
$info: rgb(50, 50, 179);
